/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*,*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Ubuntu', sans-serif; */ 
    font-family: 'Cairo', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-size: cover;
    background-position: center;
    flex-direction: column;
    
}
/* Link{
    width: 100%;
    height: 15vh;
    background:rgba(0,0,0, 0.2);
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
} */
.nav{
    width: 100%;
    height: 15vh;
    background:rgba(0,0,0, 0.2);
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
}
.nav .logo{
    width: 25%;
    text-align: center;
}
.nav .links{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.nav .links a{
    width: 10%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* start home page */

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-image: url(../assets/Image/pyramids.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #000;
}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px #000;
    text-transform: uppercase;
}
section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px #000;
}
section a{
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    padding: 12px 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}
.nav .links a:hover{
    color: #00b894;
}
section .btnone{
    /* background: #fff; */
    color:#fff;
    border: #fff 2px solid;
    margin-right: 25px;
}
.btnone:hover{
    background: #00b894;
    border: #00b894 4px solid;
    color: #000;
}
section .btntwo{
    background: #00b894;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btntwo:hover{
    background: #fff;
    color:#000;
}
.change_content::after{
    content:'';
    animation: changetext 15s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0%{content:" the pyramids";}
    20%{content:" valley of the kings";}
    35%{content:" Alexandria library";}
    60%{content:" luxor temple";}
    80%{content:" mediam pyramid";}
    100%{content:" Montazah palace";}
}
.section2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section2 .img img{
    width: 300px;
    height: auto;
}
.section2 .text{
    width: 500px;
    height: auto;
    flex-direction: column;
}
.section2 .text h1{
    display: flex;  
    font-size: 28px;
}
.section2 .text p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    flex-direction: column;
}
.ads{
    width: 15%;
    height: 80%;
    text-align: center;
    border: #000 solid 2px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3{
    /* display: flex;    */
    width: 100%;
    height: 700px;
    justify-content: space-around;
}
.section3 .text h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.section3 .services{
    display: flex;
    width: 80%;
    justify-content: space-around;
    height: 400px;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.section3 .services div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    padding: 70px;
    color: #000;
}

a:Link{
  text-decoration: none;
}
.section3 .services div:hover{
    background: #00b894;
    color: #fff;
    transition: 1s ;
}
.section3 .services img{
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
    justify-content: space-around;  
}
.section4{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.section4 video{
    width: 100%;
    height: auto;
}
.section4 .video-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    /* font-size: 30px; */
    color: #fff;
    background: rgba(0,0,0,0.7);
}

.section4 .video-text h2{
    font-size: 100px;
    text-transform: capitalize;
}
.section4 .video-text p{
    font-size: 16px;
    text-align: center;
}
.section4 .video-text .btn a{
    text-decoration: none;
    border: 2px white solid;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px 40px;
    color: #fff;
} 
.section4 .video-text .btn a:hover{
    color:#00b894 ;
    border-color:#00b894;
}
.section4 .video-text .btn{
    position: relative;
}
.section4 .video-text .btn img{
    height: 50px;
    position: absolute;
    left: -20px;
    top:-5px;
}
.section5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.section5 h2,.f-page h2{
    border-bottom: 3px solid #00b894;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.section5 .photo{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
.section5 .photo img{
    width: 340px;
    height: 234px;
}
.section5 .photo img:hover{
    transform: scale(1.3,1.3);
}
.footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #00b894;
    color: #fff;
    text-align: center;

}
.footer .connect{
    display: flex;
    width: 85%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.footer .connect .about_as,.call,.business{
    width: 33.33333%;
    height: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    padding: 10px;
}
.connect .about_as p{
    font-size: 14px;
    font-weight: 700;
    width: 80%;
    line-height: 25px;
    margin-top: 30px;
}
.connect h2{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    /* border: #000 solid 2px; */
}
.connect .call img,
.businees img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.businees{
  height: 200px;
}
.call div,
.businees div {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 5px;
}
.copyrights{
    border-top: #afafaf 1px solid ;
    height: 5px;
    width: 100%;
    /* padding-top: 10px; */
    text-align: center;
}
/* end home page */
/* start contact page */


  
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  

  input:focus,
  textarea:focus,
  keygen:focus,
  select:focus {
    outline: none;
  }
  ::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
  }
  
  ::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
  }
  
  /* Contact Form Styling */
  /* .container {
    padding: 0 50px 70px;
  } */
  .textcenter {
    text-align: center;
  }
  .section1 {
    text-align: center;
    display: table;
    width: 100%;
  }
  .section1 .shtext {
    display: block;
    margin-top: 20px;
    font-size: 50px;   
    font-weight: 700; 
  }
  .section1 .seperator {
    border-bottom: 3px solid #00b894;
    width: 150px;
    display: inline-block;
    margin: 20px;
  }
  
  .section1 h1 {
    font-size: 40px;
    color: #00b894;
    font-weight: normal;
  }
  
  .section2 {
    width: 100%;
    margin: 25px auto;
  }
  .section2 .col2 {
    width: 48.71%;
  }
  .section2 .col2.first {
    float: left;
  }
  .section2 .col2.last {
    float: right;
  }
  .section2 .col2.column2 {
    padding: 0 30px;
  }
  .section2 span.collig {
    color: #a2a2a2;
    margin-right: 10px;
    display: inline-block;
  }
  .section2 .sec2addr {
    display: block;
    line-height: 26px;
  }
  .section2 .sec2addr p:first-child {
    margin-bottom: 10px;
  }
  .section2 .sec2contactform input[type="text"],
  .section2 .sec2contactform input[type="email"],
  .section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #ededed;
    margin: 7px 0;
    
  }
  .section2 .sec2contactform textarea {
    width: 100%;
    display: block;
    color: #666;
    resize: none;
  }
  .section2 .sec2contactform input[type="submit"] {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #00b894;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
  }
  .section2 .sec2contactform h3 {
    font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #00b894;
  }
  
  /* @media querries */
  
  @media only screen and (max-width: 1266px) {
    .section2 {
      width: 100%;
    }
  }
  @media only screen and (max-width: 960px) {
    .container {
      padding: 0 30px 70px;
    }
    .section2 .col2 {
      width: 100%;
      display: block;
    }
    .section2 .col2.first {
      margin-bottom: 10px;
    }
    .section2 .col2.column2 {
      padding: 0;
    }
    body .sec2map {
      height: 250px !important;
    }
  }
  .section2 .sec2contactform input{
    border-radius: 15px;
}
  .section2 .sec2contactform textarea{
    border-radius: 5px;
}
  @media only screen and (max-width: 768px) {
    .section2 .sec2addr {
      font-size: 14px;
    }
    .section2 .sec2contactform h3 {
      font-size: 16px;
    }
    .section2 .sec2contactform input[type="text"],
    .section2 .sec2contactform input[type="email"],
    .section2 .sec2contactform textarea {
      padding: 10px;
      margin: 3px 0;
    }
    .section2 .sec2contactform input[type="submit"] {
      padding: 10px 30px;
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 420px) {
    .section1 h1 {
      font-size: 28px;
    }
}
.image{
    width: 150px;
    height: 200px;
}
.image img{
    width: 300px;
    height: 400px;
}
/* end contact page */
/* start about page */
.f-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.c-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
}
/* end about page */
.clearfix button{
    outline: none;
    border: none;
    background: #00b894;
    padding: 5px 15px;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
/* start Login page */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;

}
.form-register{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-direction: column;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #00b894;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #00b894;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #00b894;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #00b894,
              0 0 25px #00b894,
              0 0 50px #00b894,
              0 0 100px #00b894;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00b894);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00b894);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00b894);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00b894);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/* end Login page */
.all{
  width: 100%;
  height: 100vh;
  background: url(/src/assets/Image/image\ 1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* errors */
.error{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  color:#fff;
}
.error p{
  font-size: 50px;
}
.error p span{
  color: #00b894;
  margin-right: 10px;
  font-weight: 700;

}
.error span{
  color: #00b894;
  margin-right: 10px;
  font-weight: 700;
}
.video video{
  width: 100%;
  height: 100vh;

}
/* trips */

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(../assets//Image//Alex.jpg);
}
.card:nth-child(2):before {
  background-image: url(../assets/Image/Aswan.jpg);
}
.card:nth-child(3):before {
  background-image: url(../assets/Image/Luxor.jpg);
}
.card:nth-child(4):before {
  background-image: url(../assets/Image/Mohamed\ ali.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
/* end trips */